@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");
.App {
  text-align: center;
  font: "typeface-roboto";
}

.image-div {
  column-count: 4;

  background-color: rgba(237, 237, 243, 0.884);
}

.parent {
  background-color: rgba(237, 237, 243, 0.884);
  margin: 40px 30px;
  padding: 30px;
}
.image {
  width: 100%;
  height: 250px;
  margin-top: 50px;
}
